<% layout('layout', { location, title: 'Contact' }) %>
<h2>Contact</h2>
<p><strong>Address:</strong> <%= location.address %></p>
<p><strong>Phone:</strong> <a href="tel:+17653950000"><%= location.phone %></a></p>
<p>
  <a class="btn" href="https://maps.apple.com/?q=Pizza%20King%20Converse%20IN" target="_blank">Get Directions</a>
  <a class="btn outline" href="tel:+17653950000">Call Store</a>
</p>
